<template>
  <q-list>
    <div v-for="group in groups" :key="'group-' + group.name">
      <q-item-label header>{{ group.name }}</q-item-label>

      <q-item clickable tag="a" v-for="link in group.links" :key="'link' + link.name">
        <q-item-section avatar>
          <q-icon :name="link.icon"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ link.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </div>
  </q-list>
</template>

<script>
export default {
  name: 'Sidebar',
  data () {
    return {
      groups: [
        {
          name: 'Settings',
          links: [
            {
              icon: 'account_balance_wallet',
              name: 'Accounts',
              to: {}
            },
            {
              icon: 'label',
              name: 'Tags',
              to: {}
            }
          ]
        }
      ]
    }
  }
}
</script>

<style scoped>
</style>
